body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.header
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:70px;
    margin-right: 13%;
    font-weight: bold;
    text-decoration: none;
}

.headerselected
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:70px;
    margin-right: 13%;
    font-weight: bold;
    text-decoration: underline;
}

.subheader 
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:50px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    text-decoration: none;
}

.content
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:25px;
    font-weight: normal;
    margin-top: 50px;
    text-decoration: none;
}

.imagewithtext
{
    float: left;
    padding-right: 40px;
}

a:link 
{
    color: rgb(68, 68, 68);
}
a:visited
{
    color: rgb(68, 68, 68);
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    body {
        margin-left: 40px;
        margin-right: 40px;
    }
  }
