#main 
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#headers 
{
    background-color: rgb(187, 234, 250);
    border-radius: 10px;
}

#headertext
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:65px;
    margin-right: 5%;
    font-weight: bold;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.headerselected
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:65px;
    margin-right: 5%;
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(143, 208, 255);
    border-radius: 10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.subheader 
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:50px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#date 
{
    margin-top: -20px
}

.content
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:25px;
    font-weight: normal;
    margin-top: 50px;
    text-decoration: none;
}

.imagewithtext
{
    float: left;
    padding-right: 40px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a:link 
{
    color: rgb(68, 68, 68);
    text-decoration: none;
}
a:visited
{
    color: rgb(68, 68, 68);
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    body {
        margin-left: 40px;
        margin-right: 40px;
    }

    .subheader {
        text-align: center;
    }

    .imagewithtext {
        float: none;
        margin-left: 30px;
        max-width: 100%;
        text-align: center;
        display: block;
        margin-right: 100px;
    }

    .content {
        margin-left: -40px;
        margin-right: -40px;
    }

    #headers {
        text-align: left;
        margin-left: 30px;
    }

    #date
    {
        text-align: center;
    }
}
