#window 
{
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#windowheader 
{
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.windowtext
{
    color: rgb(56, 56, 56);
    font-family:Arial;
    font-size:20px;
    font-weight: normal;
    line-height: 20px;
    max-width: 600px;
}

.windowsubheader
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:30px;
    font-weight: bold;
    margin-bottom: 20;
}
}

.windowheader 
{
    color: rgb(68, 68, 68);
    font-family:Arial;
    font-size:40px;
    font-weight: bold;
}